<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="">

    <title>Your favorites
    </title>


    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/edit.css" rel="stylesheet">
  </head>

  <body>

    <div class="container container-center-text">

      <form class="form-signin form-delete" action="/favorites/<%= @favorite.id %>" method="post" role="form">
        <h2 class="form-signin-heading">Delete <%= @favorite.title %>?</h2>
        <button type="submit" class="btn btn-lg btn-danger btn-block btn-form-left" name="_method" value="delete">Delete Forever</button>
        <a href="/favorites/<%= @favorite.id %>"><button type="button" class="btn btn-lg btn-primary btn-block btn-form-right">Cancel</button></a>
      </form>
      

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/docs.min.js"></script>
  </body>
</html>