<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="">

    <title>Your favorites
    </title>


    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <link href="./css/bootstrap-theme.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="cover.css">
    <!-- Bootstrap core CSS -->

  </head>

  <body>

    <div class="site-wrapper" style="background-color:#333;">

      <div class="site-wrapper-inner">

<div class="container">

      <div class="starter-template">
        <h1>Uh oh, it seems that you input Green Zone</h1>
        <p class="lead">Here's the thing. Green Zone is actually a really terrible film.<br> You should try netflix or a thrift store or a book, just anything that isn't Green Zone. Have a great day, and <a href="/favorites" style="color:blue;">add something different.</a></p>
      </div>

    </div><!-- /.container -->

       </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/docs.min.js"></script>
  </body>
</html>