
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="">

    <title>Your favorites
    </title>


    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <link href="./css/bootstrap-theme.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="cover.css">
    <!-- Bootstrap core CSS -->

  </head>

  <body>

    <div class="site-wrapper" style="background-color:#333;">

      <div class="site-wrapper-inner">

        <div class="cover-container">

            
              <h1>
              What are YOUR favorite Matt Damon movies?
              </h1>
              <form action="/favorites" method="post" style="margin-bottom:25px;">
                <input type="text" id="title" name="title">
                <input type="submit" class="btn btn-success">
              </form>
            <div style="margin-top:20px; height:5px;"></div>
              <ul class="list-group">
                <% @favorites.each do |favorite| %>
                <li class="list-group-item"><%= favorite %></li>
                <% end %>
              </ul>
         

          <div class="mastfoot">
            <div class="inner">
              <p>&copy; Matt Damon Favs, David Hunt 2014</p>
            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/docs.min.js"></script>
  </body>
</html>
